[Unit]
Description=Check for available apt upgrades & sync the polybar updates module

[Service]
Type=oneshot
ExecStart=%h/.config/bspwm/bin/Updates --sync-polybar

[Install]
WantedBy=default.target
